<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style >
    h1{
      background-color: red;
      color:black;
      border: 2px solid black;
    }

    </style>
  </head>
  <body>
    <h1>{{product.pname}} product details</h1>
    <ul>
      <li>Name       : {{product.pname}}</li>
      <li>Product ID :{{product.pid}}</li>
      <li>Category   :{{product.category}}</li>
      <li>Category ID:{{product.categoryid}}</li>
    </ul>

  </body>
</html>
